BOT_NAME=NARARYA BUSINESS BOT
OWNER_NUMBERS=628xxxxxxxxxx
ADMIN_NOTIFY_JID=
CHANNEL_JID=
PAYMENT_PROVIDER_API_URL=
PAYMENT_PROVIDER_API_KEY=
PAYMENT_WEBHOOK_SECRET=
AI_API_URL=
AI_API_KEY=
AI_MODEL=
PORT=3000
WEB_PORT=8080
PREFIX=/
PUBLIC_MODE=true
